@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body{
  background: linear-gradient(to top, rgb(0, 218, 131) 0%, rgba(48,0,255,1) 100%);
}

.contenedor{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 30px;
  gap: 10px;
}
.control{
  display: flex;
  flex-direction: row;
  width: auto;
  height: 50px;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.313);
  border-radius: 10px;
  padding: 0px 10px;
}

.info{
  display: flex;
  flex-direction: row;
  gap: 80px;
  font-weight: 600;
}

.juego{
  width: auto;
  height: 755px;
  background-color: rgba(255, 255, 255, 0.313);
  border-radius: 10px
}

.control button{
  background-color: rgba(255, 255, 255, 0.244);
  border: 0;
  border-radius: 5px;
  height: 33px;
  width: 150px;
  font-weight: 500;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

.control button:hover{
  background-color: rgba(255, 255, 255, 0.326);
}

.titulogin{
  color: black;
}

.letralogin{
  color: black;
}